.sec1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #84abce;
}
.sec2 {
		padding: 20px;
    display: table-cell;
    flex-direction: column;
    width: 50%;
    background-color: #5f7f9d;
}

.main  {
		width: 80%;    
    padding: 1px 30px 50px 30px;
}

.sec1,.sec2{
	display: flex;
	
	margin: 2px;
	border-radius: 10px;
	align-content: center;
	
}

h3{
	font-weight: bold;
	color: white;
	padding-left: 20px;
}

#time{	
	font-weight: bold;
	color: white;
	font-size: 90px;
}

p {
	color: white;
	font-style: italic;
	font-size: 20px;
}

body{
	background-color: #435b71;
}
blockquote {
    font-size: 60px;
    color: white;
    border-left: 5px solid white;
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#gauge {
    width: 240px;
    height: 240px;
    align-self: center;
}

#line {
    width: 90%;
    height: 400px;
    align-self: center;
}

@media (max-width: 425px) {
    blockquote {
        font-size: 30px;
    }
}